@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: gold;
}

h1 {
  background: rgb(240, 221, 8);
  color: white;
  padding: 15px 40px;
  border-radius: 4px;
  font-size: 20px;
}

.log {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(240, 221, 8);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  top: 0px;
}

.logbutton:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.lbtn {
  float: right;
}

body {
  background-image: url(card_background.jpeg);
  height: 100vh;
  background-size: cover;
}

section {
  margin: 0 auto;
  padding: 0;
  display: block;
}

.container {
  margin: 0 auto;
  height: 250px;
  width: 375px;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.container:hover {
  transform: translate(-50%, -50%) rotateY(180deg);
}
.container .card {
  height: 100%;
  padding: 25px;
  width: 100%;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 25px 25px rgb(30, 31, 30);
  backface-visibility: hidden;
}

.container button {
  border-radius: 25px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 25px;
  width: 100%;
  backface-visibility: hidden;
}

header,
.logo {
  display: flex;
  align-items: center;
}
header {
  justify-content: space-between;
}
.front .logo img {
  width: 48px;
}
#mas {
  color: black;
}

.chip {
  width: 50px;
}
.card-details {
  display: flex;
  align-items: flex-end;
  margin-top: 40px;
  justify-content: space-between;
}
h6 {
  text-align: left;
  font-size: 10px;
  font-weight: 600;
}
h5.number {
  font-size: 18px;
  letter-spacing: 1px;
}
h5.name {
  margin-top: 40px;
  text-align: left;
}


.v {
  color: #3b3a3a;
  font-weight: bold;
}

.back-face {
  transform: translate(-50%, -50%) rotateY(180deg);
  border: none;
  padding: 15px 25px 25px 250px;
}

.back-face h6 {
  font-size: 10px;
  color: #1b1a1a;
}

.strip {
  margin-top: 10px;
  position: absolute;
  top: 45;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: rgb(34, 34, 33);
  opacity: 0.95;
}

.sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 80px;
  height: 40px;
  width: 85%;
  border-radius: 6px;
  background: repeating-linear-gradient(
    #e8e5e5,
    #fbf6f6 3px,
    #d5cece 0px,
    #1b1a1a 9px
  );
}

i {
  color: black;
  font-size: 15px;
  padding: 5px 6px;
  border-radius: 4px;
  background-color: white;
  margin-right: -30px;
}

.back-face h5 {
  font-size: 8px;
  margin-top: 15px;
  font-weight: bold;
}

.add {
  margin-top: 20px;
  display: flex;
  color: #a39e9e;
  font-weight: bolder;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
  margin-top: 0px;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-image: url(card_background.jpeg);
  width: 450px;
  height: 310px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: fixed;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  position: fixed;
  display: block;
}

.popup.active .content{
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
